
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.a{
    color: rgba(233, 125, 31, 0.667);
    
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li{
    margin-right: 51px;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    color: aliceblue;
    background-color: #F55D3E;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    padding: 15px;
    font-size: 40px;
    margin: 15px;
}
.para{
    font-size: 28px;
    color: black;
}

div img{
    display: flex;
}
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    background-color: antiquewhite;

}
.top{
    justify-content: space-between;
    display: flex;
}
.mary{
    margin-left: 200px;
    font-size: 45px;
    font-weight: 800px;
}
.hi{
    margin-left: 200px;
}
.hardy{
    font-weight: 800px;
    font-size: 85px;

}
.i{
    font-weight: 600;
    font-size: 45px;

}
.address{
    display: flex;
    justify-content: space-around;
}
.firsseection{
  text-align: center;
  border-top: solid rgb(236, 213, 213) 3px;
  background-color: antiquewhite;
  margin: 30px 150px 10px 150px;
  padding: 19px 200px 19px 200px;}
.whatido{
    text-align: center;
    padding: 10px 200px 10px 200px;
    margin: 50px 200px 50px 200px;
    border:dotted #cc671f 2px;
    margin: 10px 200px 10px 200px;
    padding: 25px;
}
.js{
    text-align: left;
    background-color: rgb(222, 187, 161);
    margin: 15px;
    padding: 20px 20px 20px 20px;
    
}
.vrnm{
    display: flex;
    justify-content: space-around;
    margin: 0px 300px 0px 300px;
    
}
.mujammal{
    display: flex;
    margin: 15px 150px 15px  150px;
    justify-content: space-between;

}
.education{
    margin: 19px 50px 20px 50px;
    padding: 19px 50px 20px 50px;
}
.asummar{
    text-align: center;
    font-size: 50px;
    font-weight: 800px;
}
.button1{
    text-align: center;
    padding: 10px;
    

}
.footer{
  background-color: antiquewhite;
  margin:20px 0px 0px 0px; 

}
.lets{
    margin: 60px;
    padding: 50px;
      justify-content: space-between;
s

}
.pictur{
display: flex;
margin: 15px;

}
.form{
    display: flex;
}
